*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 15px;
}

header{
    width: 100%;
    height: 50vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    text-align: center;
    border-top: 0.6rem solid #4e82be;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5% 5%;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.2rem;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin-left: 2rem;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 200;
}

.headings{
    margin-top: 8rem;
}

header h1{
    color: #fff;
    font-weight: 100;
    font-size: 3rem;
}

header h6{
    color: #fff;
    font-weight: 100;
    font-size: 0.8rem;
    margin-top: 1rem;
}

nav .nav-buttons{
    display: none;
}

.nav-buttons .open-nav, .nav-buttons .close-nav{
    cursor: pointer;
    color: #fff;
}

/* info section */

.flex-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info section{
    width: 30%;
    padding: 1.25rem;
}

.info section h2{
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 2rem;
    color: #4e82be;
}

.info section p{
    font-weight: 300;
    margin-bottom: 1.2rem;
    line-height: 1.8rem;
    color: grey;
}

.more{
    width: 100px;
    height: 45px;
    border: 0;
    background-color: #4e82be;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}

hr{
    width: 0.5px;
    height: auto;
    border: none;
    background-color: #dfdfdf;

}

/* testimonial */

.testimonial-wrapper{
    width: 100%;
    background-color: #4e82be;
    text-align: center;
    color: #fff;
    padding: 5% 5%;
}

.testimonial-wrapper h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.testimonial-wrapper p{
    font-size: rem;
    font-weight: 200;
    margin-bottom: 2rem;

}

.testimonial{
    width: 22%;
    border: 1px solid #a0c2e8;
    padding: 1rem 1rem;
}

.testimonial img{
    width: 100%;
    border-radius: 100%;
}

.testimonial h3{
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.testimonial h3{
    font-size: 1.1rem;
    font-weight: 200;

}

/* image gallery */

.image-gallery h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: #4e82be;
}

.left{
    width: 47%;
}

.left img{
    width: 100%;
}

.image-gallery h5{
    font-weight: 100;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.left h3{
    margin: 2rem 0;
    font-weight: 200;
    color: #4e82be;
}

.left p{
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: grey;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-hr{
    width: 100%;
    height: 1px;
    margin-bottom: 3rem;
}

footer p{
    color: grey;
}

.socialmedia a{
    font-size: 1.5rem;
    color: #4e82be;
    text-decoration: none;
    padding: 0 0.5rem;
}
.socialmedia a span{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform-origin: center;
}
.socialmedia a span:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@media only screen and (max-width:767px){

    html{
        font-size: 13px;
    }

    nav .nav-buttons{
        display: block;
    }
    .nav-buttons .close-nav{
        display: none;
    }
    
    ul{
        opacity: 0;
    }

    .flex-box{
        flex-direction: column;
        align-items: stretch;
    }

    .info hr{
        display: none;
    }

    .info section{
        width: auto;
        text-align: center;
    }

    .more{
        width: 100%;
    }

    .testimonial{
        width: auto;
        margin-bottom: 2rem;
    }

    .testimonial img{
        width: auto;
    }

    .left{
        width: auto;
        text-align: center;
        margin-bottom: 3rem;
    }

    .left p{
        text-align: justify;
    }

    footer .copywrite{
        width: 100%;
        text-align: center;
    }

    footer .socialmedia{
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
    }
}